In [ ]:
import pandas as pd

:

Download the titanic dataset from the link below: <br>
[Link](https://drive.google.com/drive/folders/1gZOtTavk7ih9Po4qgfVNdY4GbMf07ag2?usp=sharing)<br> 
You must complete the following tasks: 
- Load train.csv into a pandas dataframe
- List all the Columns present
- Find the mean age of the passengers
- Find the standard deviation in the age of the passengers
- Find the frequency of all ages of passeger
- Find all the female passengers and find the oldest of them
- Find all the 'PC' type tickets. [Hint: Use the apply function]

In [4]:
df = pd.read_csv('./titanic/train.csv')

NameError: name 'pd' is not defined

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: Ticket, Length: 681, dtype: int64