In [4]:
import pandas as pd

Download the titanic dataset from the link below: <br>
[Link](https://drive.google.com/drive/folders/1gZOtTavk7ih9Po4qgfVNdY4GbMf07ag2?usp=sharing)<br> 
You must complete the following tasks: 
- Load train.csv into a pandas dataframe
- List all the Columns present
- Find the mean age of the passengers
- Find the standard deviation in the age of the passengers
- Find the frequency of all ages of passeger
- Find all the female passengers and find the oldest of them
- Find all the 'PC' type tickets. [Hint: Use the apply function]

In [6]:
df = pd.read_csv('train.csv')
df.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

Mean

In [19]:
df.head()
df["Age"].mean()

29.69911764705882

Standard Deviation

In [15]:
df["Age"].std()

14.526497332334042

In [16]:
df["Age"].value_counts

<bound method IndexOpsMixin.value_counts of 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64>

In [18]:
df["sex"]= 'female'

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sex
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,female
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,female
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,female
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,female